@import url('https://fonts.googleapis.com/css2?family=Roboto');

.title{
    font-family: 'Roboto';
}

.video-age{
    font-family: 'Roboto';
}

.tile-img {
    width: 100%;
    height: 100%;
    transition: 0.2s all;
}

.tile-img:hover {
    filter: brightness(50%);
    transform: scale(1.05);
}